* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #1d5386;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 10px;
}

a {
    color: #2c5c88;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: #f8aa13;
    text-decoration: underline;
}

a:active {
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 2% 0;
}

#header {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

main {
    padding: 3% 5%;
    height: 100%;
    background-color: #CFE1EF;
    font-size: 1.5rem;
    margin-top: 100vh;
    position: relative;
    z-index: 2;
}

main h3 {
    text-transform: uppercase;
}

#header img {
    position: absolute;
    bottom: 0;
    height: 70%;
    z-index: -1;
}

#header #menu-responsive {
    position: absolute;
    right: 7%;
    top: 3%;
    font-size: 3rem;
    cursor: pointer;
}

header nav {
    float: right;
    z-index: 10;
}

header nav ul {}

header nav ul li {
    float: left;
    margin: 0 3px 0 0;
    border-bottom: 3px solid #9D9DA0;
}

header nav ul li:hover,
header nav ul li a:hover {
    color: #FFF;
    border-color: #000;
    background: #1d5386;
    text-decoration: none;
    transition: background .27s ease-in-out;
    -moz-transition: background .27s ease-in-out;
    -webkit-transition: background .27s ease-in-out;
}

header nav ul li a {
    color: #1D5386;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 15px;
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
}

#header #txt {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 3;
    text-shadow: 
        1px 1px 0 #b0cae3,
        -1px 1px 0 #b0cae3,
        -1px -1px 0 #b0cae3,
        1px -1px 0 #b0cae3;
}

header h1 {
    font-size: 2.6rem;
}

header h3 {
    font-size: 2.4rem;
    font-weight: 400;
}

#arrow {
    border: 3px solid #1d5386;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    font-size: 5rem;
    text-align: center;
    text-shadow: 0px -10px 0 #1d5386, 0px -20px 0 #1d5386;
    overflow: hidden;
    transition: 1s ease;
}

#arrow:hover {
    text-shadow: 0px -10px 0 black, 0px -20px 0 black;
    color: black;
    border-color: black;
    background-color: #b1cce6;
    cursor: pointer;
}

.fa-angle-down {
    animation: arrow 1.4s infinite linear;
}

#scrollup {
    width: 44px;
    height: 44px;
    border:  3px solid #1d5386;
    position: absolute;
    bottom: 5%;
    right: 2%;
    position: fixed;
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
}

#scrollup:hover {
    color: #545351;
    border-color: #545351;
    cursor: pointer;
}

.fa-arrow-up {
    
}

/* rotate = stopnie */

@media (orientation: portrait) {
    h3 span::after {
        content: '\A';
        white-space: pre;
    }
}

@media (orientation: landscape) {
    header img {
        height: 60%;
        right: 0;
    }
}

@media (min-width: 451px) {
    #menu-responsive {
        display: none; 
    }
}

@media (min-width: 530px) amd (orientation:potrait) {}

@media (min-width: 768px) {
    header h3 {}
    header img {
        right: 200px;
    }
}

@media (min-width: 768px) amd (orientation:potrait) {}

@media (min-width: 1280px) {
    header h1 {
        font-size: 5rem;
    }
    header h3 {
        font-size: 3.5rem;
    }
    header img {
        right: 300px;
    }
}

@media (min-width: 1600px) {}

@media (max-width:450px) {
    header nav {
        display: none;
        position: absolute;
        right: 0;
        top: 10%;
    }
    header nav ul li {
        float: none;
        text-align: center;
        border-bottom: 1px solid #1d5386;
        background: #fff;
        border-radius: 3px;
        border-left: 1px solid #1d5386;
        border-right: 1px solid #1d5386;
        margin: 0;
        z-index: 1;
    }
    header nav ul li.active,
    header nav ul li.active a,
    header nav ul li:hover,
    header nav ul li a:hover {
        border-color: #31323d;
        border-radius: 3px;
    }
}

@media (max-width: 360px) {
    header h1 {
        font-size: 2rem
    }
    header h3 {
        font-size: 1.5rem;
    }
    #header #txt {
        transform: rotate(13deg);
        text-shadow: none;
    }
    main p {
        font-size: 1.5rem;
    }
}

#arrow {
    width: 44px;
    height: 44px;
    font-size: 4rem;
}


/* ANIMACJIE CSS*/

@keyframes arrow {
    0% {
        transform: translateY(-80%)
    }
    50% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(80px)
    }
}
